@{
    ViewData["title"] = "ForgetPassword";
     Layout = "_LoginLayout";

}

@model Pizzashop.Entity.ViewModels.ForgotPasswordModel

<form asp-action="ForgetPassword" asp-controller="Auth">

    <h5 class="mt-4">Forget password</h5>

    <p class="mt-4"> Enter your email and we'll send you a link to reset your password</p>

    <div class="mt-4 input-group">
        <input type="email" asp-for="Email" class="form-control" id="floatingInput" placeholder="Email*">
        <span class="input-group-text" id="inputGroupPrepend"><i class="fa-solid fa-user"></i></span>
    </div>
    <span asp-validation-for="Email" class="text-danger"></span>


    <button id="sendMail"  value="SendEmail" type="submit" class="col-12 mt-3 btn login-btn text-white">Send</button>

    <div class="mt-4">
        <a asp-action="Login">Back to Login</a>
    </div>

</form>

@section Scripts{
    <script>

            $("#sendMail").click( function(){
                $("#sendMail").html("Re-Send")
            })

    </script>
}