@model Pizzashop.Entity.ViewModels.TaxVM;

@{
    bool IsAdd = (Model?.Id ?? 0) == 0;
}

<div class="modal-dialog modal-dialog-centered modal-lg">

    <form id="add-item-form" enctype="multipart/form-data">

        <div class="modal-content">

            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                    @if (IsAdd)
                    {
                        <span>Add New Tax</span>
                    }
                    else
                    {
                        <span>Edit Tax</span>
                    }

                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Add New Item Body  -->

            <div class="modal-body">

                <div class="row">

                    <input type="hidden" asp-for="Id">

                    <div class="col-md-12 mb-3">
                        <input asp-for="Name" placeholder="Name*" class="form-control py-3 ">
                        <span asp-validation-for="Name" class="text-danger ms-2"></span>

                    </div>

                    <div class="col-md-6 ">
                        <div class="  form-floating mb-3">
                            <select role="button" class="form-select section-select" asp-for="TaxType">
                                <option selected>Select Type</option>
                                <option value="true">Percentage</option>
                                <option value="false"> Flat Amount</option>
                            </select>
                            <label asp-for="TaxType"></label>
                            <span asp-validation-for="TaxType" class="text-danger ms-2"></span>
                        </div>
                    </div>


                    <div class="col-md-6 mb-3">
                        <input asp-for="TaxValue" type="text" placeholder="Tax Value" class="form-control py-3 ">
                        <span asp-validation-for="TaxValue" class="text-danger ms-2"></span>
                    </div>

                    <div class="col-md mb-6">
                        <div class=" form-check form-switch ms-2 fs-5 mt-2 ">
                            <input class="form-check-input" role="switch" asp-for="IsActive">
                            <label class="form-check-label" asp-for="IsActive"></label>
                        </div>
                        <span asp-validation-for="IsActive" class="text-danger ms-2"></span>
                    </div>

                    <div class="col-md mb-6">
                        <div class=" form-check form-switch ms-2 fs-5 mt-2 ">
                            <input class="form-check-input" role="switch" asp-for="IsDefault">
                            <label class="form-check-label" asp-for="IsDefault"></label>
                        </div>
                        <span asp-validation-for="IsDefault" class="text-danger ms-2"></span>
                    </div>



                </div>

            </div>

            <div class="modal-footer ">
                <button type="submit" class="btn btn-primary bg-header rounded-0">Save </button>
                <button type="button" class="btn rounded-0 border-dark me-3" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </form>
</div>

<script>

    var modal = $("#addNewModal");

    $(document).ready(function () {

        $("form").submit(function (e) {
            e.preventDefault();
            var form = $(this);
            var formData = new FormData(form[0])
            var action = null;
            if (@IsAdd.ToString().ToLower()) {
                action = "AddTax";
            }
            else {
                action = "EditTax";
            }


            $.ajax({
                type: "POST",
                url: "/Tax/" + action,
                dataType: "JSON",
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {

                    if (data.success) {
                        toastr.success(data.message);
                        loadPagedItems();
                        modal.modal("hide")
                    }
                    else {
                        toastr.error(data.message)
                    }

                },
                error: function (response) {
                    modal.html(response.responseText);
                }
            });
        });

   
    });
</script>